/* IMPORTS */
@import "tailwindcss";
@import "@uswds/uswds/css/uswds.min.css";

/* FONTS */
* {
  font-family: "Public Sans", sans-serif;
}

/* US WEB COLORS */
:root {
  --primary: #005ea2 --primary-lighter: #d9e8f6 --primary-darker: #162e51
    --green-50v: #538200 --green-20: #b8d293 --red-warm-10: #f4e3db
    --red-warm-vivid: #d54309 --orange-20: #f3bf90 --gray-cool-60: #565c65
    --gray-90: #171717;
}
